<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.board.repository.BoardMapper">
    <select id="selectBoardList" resultType="board.board.domain.Board">
        <![CDATA[
        select board_idx,
               title,
               hit_cnt,
               created_datetime
--                DATE_FORMAT(created_datetime, '%Y.%m.%d %H:%i:%s') as created_datetime
        from t_board
        where deleted_yn = "N"
        order by board_idx desc
        ]]>
    </select>

    <insert id="insertBoard" parameterType="board.board.domain.Board" useGeneratedKeys="true"
            keyProperty="boardIdx">
        insert into t_board (title, contents, created_datetime, creator_id)
        values (#{title}, #{contents}, NOW(), 'admin')
    </insert>

    <update id="updateHitCount" parameterType="int">
        <![CDATA[
        update t_board
        set hit_cnt = hit_cnt + 1
        where board_idx = #{boardIdx}
        ]]>
    </update>

    <select id="selectBoardDetail" parameterType="int" resultType="board.board.domain.Board">
        <![CDATA[
        select board_idx,
               title,
               contents,
               hit_cnt,
               created_datetime
--                DATE_FORMAT(created_datetime, '%Y.%m.%d %H:%i:%s') as created_datetime
                ,
               creator_id
        from t_board
        where board_idx = #{boardIdx}
          and deleted_yn = 'N'
        ]]>
    </select>

    <update id="updateBoard" parameterType="board.board.domain.Board">
        update t_board
        set title            = #{title},
            contents         = #{contents},
            updated_datetime = NOW(),
            updater_id       = 'admin'
        where board_idx = #{boardIdx}
    </update>

    <update id="deleteBoard" parameterType="int">
        update t_board
        set deleted_yn       = 'Y',
            updated_datetime = NOW(),
            updater_id       = 'admin'
        where board_idx = #{boardIdx}
    </update>

    <insert id="insertFileList" parameterType="board.board.domain.BoardFile" useGeneratedKeys="true"
            keyProperty="boardIdx">
        insert into t_file
        (board_idx, original_file_name, stored_file_path, file_size, creator_id, created_datetime)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.boardIdx},
            #{item.originalFileName},
            #{item.storedFilePath},
            #{item.fileSize},
            'admin',
            NOW()
            )
        </foreach>
    </insert>

    <select id="selectBoardFileList" parameterType="int" resultType="board.board.domain.BoardFile">
        select idx,
               board_idx,
               original_file_name,
               CONVERT((file_size / 1024), SIGNED) as file_size
--                FORMAT(ROUND(file_size / 1024), 0) as file_size
        from t_file
        where board_idx = #{boardIdx}
          and deleted_yn = 'N'
    </select>

    <select id="selectBoardFileInformation" parameterType="map" resultType="board.board.domain.BoardFile">
        select original_file_name, stored_file_path, file_size
        from t_file
        where idx = #{idx}
          and board_idx = #{boardIdx}
          and deleted_yn = 'N'
    </select>
</mapper>
